@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Rubik:wght@300&display=swap");

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

html {
  cursor: initial;
}

* {
  transition: border 200ms linear, background-color 200ms linear;
}

.logotype_big {
  max-height: 40px;
}

.logotype_small {
  max-width: 16px;
  max-height: 16px;
}
