@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Rubik:wght@300&display=swap');

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

html {
  cursor: initial;
}

* {
  -webkit-transition: border 200ms linear, background-color 200ms linear;
  -moz-transition: border 200ms linear, background-color 200ms linear;
  -o-transition: border 200ms linear, background-color 200ms linear;
  -ms-transition: border 200ms linear, background-color 200ms linear;
  transition: border 200ms linear, background-color 200ms linear;
}
