{
  "openapi": "3.0.3",
  "info": {
    "title": "Oasis Nexus API V1",
    "description": "An API for accessing indexed data from the Oasis Network.\n\n<!-- Acts as a separator after search in sidebar -->\n# Endpoints\n",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://nexus.oasis.io/v1",
      "description": "Mainnet index endpoint."
    },
    {
      "url": "https://testnet.nexus.oasis.io/v1",
      "description": "Testnet index endpoint."
    }
  ],
  "x-query-params": [
    {
      "in": "query",
      "name": "offset",
      "schema": {
        "type": "integer",
        "format": "uint64",
        "default": 0
      },
      "description": "The number of items to skip before starting to collect the result set.\n"
    },
    {
      "in": "query",
      "name": "limit",
      "schema": {
        "type": "integer",
        "format": "uint64",
        "default": 100,
        "minimum": 1,
        "maximum": 1000
      },
      "description": "The maximum numbers of items to return.\n"
    },
    {
      "in": "query",
      "name": "height",
      "schema": {
        "type": "integer",
        "format": "int64"
      },
      "description": "The block height from which to query state. Oasis Nexus does not\nmake any guarantees about availability of historical state data.\n"
    },
    {
      "in": "path",
      "name": "runtime",
      "required": true,
      "schema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Runtime"
          }
        ]
      },
      "description": "The runtime which to query.\n"
    },
    {
      "in": "query",
      "name": "window_size_seconds",
      "schema": {
        "type": "integer",
        "format": "uint32",
        "default": 86400
      },
      "description": "The size of windows into which the statistic is grouped, in seconds.\nThe backend supports a limited number of window sizes: 300 (5 minutes) and\n86400 (1 day). Requests with other values may be rejected.\n"
    },
    {
      "in": "query",
      "name": "window_step_seconds",
      "schema": {
        "type": "integer",
        "format": "uint32",
        "default": 86400
      },
      "description": "The size of the step between returned statistic windows, in seconds.\nThe backend supports a limited number of step sizes: 300 (5 minutes) and\n86400 (1 day). Requests with other values may be rejected.\n"
    }
  ],
  "x-examples": {
    "block-height": [8048956, 8049555],
    "block-hash": ["0a29ac21fa69bb9e43e5cb25d10826ff3946f1ce977e82f99a2614206a50765c"],
    "state-root": ["8e39bf193f8a954ab8f8d7cb6388c591fd0785ea060bbd8e3752e266b54499d3"],
    "tx-hash": ["0d0531d6b8a468c07440182b1cdda517f5a076d69fb2199126a83082ecfc0f41"],
    "tx-body": ["{\"amount\":\"1000000000\",\"account\":\"oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p\"}"],
    "parameters-change": [
      "{\"min_validators\":null,\"max_validators\":\"120\",\"voting_power_distribution\":null}"
    ],
    "epoch": [13402, 13403],
    "event-type": ["staking.escrow.take"],
    "roothash-message-type": ["staking.transfer"],
    "entity-id": ["gb8SHLeDc69Elk7OTfqhtVgE2sqxrBCDQI84xKR+Bjg="],
    "node-id": ["lbxs4hlud9XNloIOdhJPaCahd7HtiY8QATCgGnFfCM0="],
    "staking-address": [
      "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p",
      "oasis1qprtzrg97jk0wxnqkhxwyzy5qys47r7alvfl3fcg"
    ],
    "eth-address": [1.2367698861069356e48],
    "proposal-id": [1],
    "proposal-state": ["active"],
    "runtime-block-round": [3283246],
    "runtime-block-hash": ["21c243cd34bedfc234f1b45615d10a868f0655f59578f063a7d2fc8c6e5b4009"],
    "runtime-event-type": ["consensus_accounts.deposit"],
    "iso-timestamp": ["2022-03-01T00:00:00Z", "2019-04-01T00:00:00Z", "2022-10-15T00:05:34Z"],
    "time-duration": ["72h3m0.5s"],
    "validator-media": [
      "{\"email\":\"validator@example.net\",\"keybase\":\"validator_keybase\",\"name\":\"Example Validator\",\"twitter\":\"validator_twitter\",\"url\":\"https://example.com\",\"logoUrl\": \"https://example.com/logo.png\"}"
    ]
  },
  "x-err-responses": {
    "common-errors": {
      "400": {
        "$ref": "#/components/responses/HumanReadableError"
      },
      "404": {
        "$ref": "#/components/responses/NotFoundError"
      },
      "500": {
        "$ref": "#/components/responses/HumanReadableError"
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "operationId": "getStatus",
        "summary": "Returns the status of indexing.",
        "responses": {
          "200": {
            "description": "A JSON object containing status metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Status"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/blocks": {
      "get": {
        "summary": "Returns a list of consensus blocks, sorted from most to least recent.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on minimum block height, inclusive.",
            "example": 8048956
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on maximum block height, inclusive.",
            "example": 8049555
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on minimum block time, inclusive.",
            "example": "2022-03-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on maximum block time, exclusive.",
            "example": "2019-04-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "hash",
            "schema": {
              "type": "string"
            },
            "description": "A filter on the block hash.",
            "example": "0a29ac21fa69bb9e43e5cb25d10826ff3946f1ce977e82f99a2614206a50765c"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of consensus blocks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/blocks/{height}": {
      "get": {
        "summary": "Returns a consensus block.",
        "parameters": [
          {
            "in": "path",
            "name": "height",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "The block height of the block to return.",
            "example": 8048956
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a consensus block.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/transactions": {
      "get": {
        "summary": "Returns a list of consensus transactions.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "block",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on block height.",
            "example": 8048956
          },
          {
            "in": "query",
            "name": "method",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ConsensusTxMethod"
                }
              ]
            },
            "description": "A filter on transaction method."
          },
          {
            "in": "query",
            "name": "sender",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "A filter on transaction sender."
          },
          {
            "in": "query",
            "name": "rel",
            "schema": {
              "type": "string"
            },
            "description": "A filter on related accounts.",
            "example": "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p"
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on minimum transaction time, inclusive.",
            "example": "2022-03-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on maximum transaction time, exclusive.",
            "example": "2019-04-01T00:00:00Z"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of consensus transactions.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/transactions/{tx_hash}": {
      "get": {
        "summary": "Returns a consensus transaction.",
        "parameters": [
          {
            "in": "path",
            "name": "tx_hash",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The transaction hash of the transaction to return.",
            "example": "0d0531d6b8a468c07440182b1cdda517f5a076d69fb2199126a83082ecfc0f41"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a consensus transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/events": {
      "get": {
        "summary": "Returns a list of consensus events.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "block",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on block height.",
            "example": 8048956
          },
          {
            "in": "query",
            "name": "tx_index",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "A filter on transaction index. The returned events all need to originate\nfrom a transaction that appeared in `tx_index`-th position in the block.\nIt is invalid to specify this filter without also specifying a `block`.\nSpecifying `tx_index` and `block` is an alternative to specifying `tx_hash`;\neither works to fetch events from a specific transaction.\n",
            "example": 3
          },
          {
            "in": "query",
            "name": "tx_hash",
            "schema": {
              "type": "string"
            },
            "description": "A filter on the hash of the transaction that originated the events.\nSpecifying `tx_index` and `block` is an alternative to specifying `tx_hash`;\neither works to fetch events from a specific transaction.\n",
            "example": "0d0531d6b8a468c07440182b1cdda517f5a076d69fb2199126a83082ecfc0f41"
          },
          {
            "in": "query",
            "name": "rel",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "A filter on related accounts. Every returned event will refer to\nthis account. For example, for a `Transfer` event, this will be the\nthe sender or the recipient of tokens.\n"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ConsensusEventType"
                }
              ]
            },
            "description": "A filter on the event type.",
            "example": "staking.escrow.take"
          }
        ],
        "responses": {
          "200": {
            "description": "Consensus events matching the filters, sorted by most recent first.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsensusEventList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/roothash_messages": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "round",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RoothashMessageType"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "rel",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of roothash messages.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoothashMessageList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/entities": {
      "get": {
        "summary": "Returns a list of entities registered at the consensus layer.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of entities registered\nat the consensus layer.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/entities/{address}": {
      "get": {
        "summary": "Returns an entity registered at the consensus layer.",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The address of the entity to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing an entity registered\nat the consensus layer.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/entities/{address}/nodes": {
      "get": {
        "summary": "Returns a list of nodes registered at the consensus layer.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The address of the controlling entity of the nodes to return.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of nodes registered at the consensus layer.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodeList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/entities/{address}/nodes/{node_id}": {
      "get": {
        "summary": "Returns a node registered at the consensus layer.",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The entity ID of the entity controlling the node to return.\n",
            "example": "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p"
          },
          {
            "in": "path",
            "name": "node_id",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Ed25519PubKey"
                }
              ]
            },
            "description": "The node ID of the node to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a node registered at the consensus layer.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Node"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/validators": {
      "get": {
        "summary": "Returns a list of validators registered at the consensus layer (the list includes all registered entities, even those without a currently active validator node).",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "description": "A filter on the validator name. Every returned validator will have\na name that is a superstring of the input param.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of validators registered\nat the consensus layer.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatorList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/validators/{address}": {
      "get": {
        "summary": "Returns a validator registered at the consensus layer.",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The address of the entity to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a validator registered at the\nconsensus layer.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatorList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/validators/{address}/history": {
      "get": {
        "summary": "Returns historical information for a single validator.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on minimum epoch number, inclusive.",
            "example": 13402
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on maximum epoch number, inclusive.",
            "example": 13403
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The address of the entity to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing historical information for a \nvalidator, grouped by epoch in reverse chronological order.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatorHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/accounts": {
      "get": {
        "summary": "Returns a list of consensus layer accounts.\nNote that for performance reasons, the info returned by this endpoint\nmay be slightly stale (<2 minutes). For the most up-to-date account state,\nquery the single-account endpoint.\n",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of consensus layer accounts.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/accounts/{address}": {
      "get": {
        "summary": "Returns a consensus layer account.",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The staking address of the account to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a consensus layer account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/accounts/{address}/delegations": {
      "get": {
        "summary": "Returns an account's delegations.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The staking address of the account that delegated."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of delegations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/accounts/{address}/delegations_to": {
      "get": {
        "summary": "Returns a list of delegations to an account.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The staking address of the account that is being delegated to."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of delegations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/accounts/{address}/debonding_delegations": {
      "get": {
        "summary": "Returns an account's debonding delegations.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The staking address of the account that delegated."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of debonding delegations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebondingDelegationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/accounts/{address}/debonding_delegations_to": {
      "get": {
        "summary": "Returns a list of debonding delegations to an account.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "The staking address of the that is being delegated to."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of debonding delegations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DebondingDelegationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/epochs": {
      "get": {
        "summary": "Returns a list of consensus epochs.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of consensus epochs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EpochList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/epochs/{epoch}": {
      "get": {
        "summary": "Returns a consensus epoch.",
        "parameters": [
          {
            "in": "path",
            "name": "epoch",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "The epoch number of the epoch to return.",
            "example": 13402
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a consensus epoch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Epoch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/proposals": {
      "get": {
        "summary": "Returns a list of governance proposals.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "submitter",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StakingAddress"
                }
              ]
            },
            "description": "Filter on the submitter of the proposal."
          },
          {
            "in": "query",
            "name": "state",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ProposalState"
                }
              ]
            },
            "description": "Filter on the state of the proposal.",
            "example": "active"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of governance proposals.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/proposals/{proposal_id}": {
      "get": {
        "summary": "Returns a governance proposal.",
        "parameters": [
          {
            "in": "path",
            "name": "proposal_id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint64"
            },
            "description": "The unique identifier of the proposal to return.",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a governance proposal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Proposal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/consensus/proposals/{proposal_id}/votes": {
      "get": {
        "summary": "Returns a list of votes for a governance proposal.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "proposal_id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "uint64"
            },
            "description": "The unique identifier of the proposal for which votes are returned.\n",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of votes for a governance proposal.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalVotes"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/blocks": {
      "get": {
        "summary": "Returns a list of Runtime blocks.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on minimum block height, inclusive.",
            "example": 8048956
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on maximum block height, inclusive.",
            "example": 8049555
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on minimum block time, inclusive.",
            "example": "2022-03-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on maximum block time, exclusive.",
            "example": "2019-04-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "hash",
            "schema": {
              "type": "string"
            },
            "description": "A filter on the block hash.",
            "example": "0a29ac21fa69bb9e43e5cb25d10826ff3946f1ce977e82f99a2614206a50765c"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of Runtime blocks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeBlockList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/transactions": {
      "get": {
        "summary": "Returns a list of Runtime transactions.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "query",
            "name": "block",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on block round.",
            "example": 3283246
          },
          {
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on minimum transaction time, inclusive.",
            "example": "2022-03-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "A filter on maximum transaction time, exclusive.",
            "example": "2019-04-01T00:00:00Z"
          },
          {
            "in": "query",
            "name": "rel",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "A filter on related accounts. Every returned transaction will refer to\nthis account in a way. For example, for an `accounts.Transfer` tx, this will be\nthe sender or the recipient of tokens.\nNexus detects related accounts inside EVM transactions and events on a\nbest-effort basis. For example, it inspects ERC20 methods inside `evm.Call` txs.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of Runtime transactions.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeTransactionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/transactions/{tx_hash}": {
      "get": {
        "summary": "Returns runtime transactions with the given transaction hash.",
        "parameters": [
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "path",
            "name": "tx_hash",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The transaction hash of the transaction(s) to return. This can be an\nEthereum transaction hash; the query will compare against both a\ntransaction's regular tx_hash and eth_tx_hash (if it exists).\nThis endpoint can return multiple transactions in extremely rare cases,\ne.g. when a hash matches multiple Oasis runtime transactions or both\nan Oasis runtime transaction and the eth_tx_hash of an evm-transaction.\n",
            "example": "0d0531d6b8a468c07440182b1cdda517f5a076d69fb2199126a83082ecfc0f41"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested runtime transactions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeTransactionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/events": {
      "get": {
        "summary": "Returns a list of runtime events.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "query",
            "name": "block",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "A filter on block round.",
            "example": 3283246
          },
          {
            "in": "query",
            "name": "tx_index",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": "A filter on transaction index. The returned events all need to originate\nfrom a transaction that appeared in `tx_index`-th position in the block.\nIt is invalid to specify this filter without also specifying a `block`.\nSpecifying `tx_index` and `round` is an alternative to specifying `tx_hash`;\neither works to fetch events from a specific transaction.\n",
            "example": 3
          },
          {
            "in": "query",
            "name": "tx_hash",
            "schema": {
              "type": "string"
            },
            "description": "A filter on the hash of the transaction that originated the events.\nSpecifying `tx_index` and `round` is an alternative to specifying `tx_hash`;\neither works to fetch events from a specific transaction.\nThis can be an Ethereum transaction hash; the query will compare against\nboth a transaction's regular tx_hash and eth_tx_hash (if it exists).\n",
            "example": "0d0531d6b8a468c07440182b1cdda517f5a076d69fb2199126a83082ecfc0f41"
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/RuntimeEventType"
                }
              ]
            },
            "description": "A filter on the event type."
          },
          {
            "in": "query",
            "name": "rel",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "A filter on related accounts. Every returned event will refer to\nthis account. For example, for a `accounts.Transfer` event, this will be\nthe sender or the recipient of tokens.\n"
          },
          {
            "in": "query",
            "name": "evm_log_signature",
            "schema": {
              "type": "string"
            },
            "description": "A filter on the evm log signatures.\nNote: The filter will only match on parsed (verified) EVM events.\n",
            "example": "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
          },
          {
            "in": "query",
            "name": "contract_address",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "A filter on a smart contract. Every returned event will have been\nemitted by the contract at this address.\n"
          },
          {
            "in": "query",
            "name": "nft_id",
            "schema": {
              "type": "string"
            },
            "example": "999",
            "description": "A filter on NFT events. Every returned event will be specifically\nabout this NFT instance ID. You must specify the contract_address\nfilter with this filter.\nCurrently this only supports ERC-721 Transfer events.\nThis may expand to support other event types in the future.\nIf you want only ERC-721 Transfer events, specify\nevm_log_signature=ddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef\nto avoid inadvertently getting other event types if they are\nsupported later.\nUsing an evm_log_signature filter with this set to any other value\nwill match no events.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Runtime events matching the filters, sorted by most recent first.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeEventList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/evm_tokens": {
      "get": {
        "summary": "Returns a list of EVM (ERC-20, ...) tokens on the runtime.",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "description": "A filter on the name, the name or symbol must contain this value as a substring."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmTokenList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/evm_tokens/{address}": {
      "get": {
        "summary": "Returns info on an EVM (ERC-20, ...) token on the runtime.",
        "parameters": [
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "The staking address of the token contract."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/evm_tokens/{address}/holders": {
      "get": {
        "summary": "Returns the list of holders of an EVM (ERC-20, ...) token.\nThis endpoint does not verify that `address` is actually an EVM token; if it is not, it will simply return an empty list.\n",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "The staking address of the token contract for which to return the holders."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested holders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenHolderList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/evm_tokens/{address}/nfts": {
      "get": {
        "summary": "Returns the list of non-fungible token (NFT) instances of an EVM (ERC-721, ...) token.\nThis endpoint does not verify that `address` is actually an EVM token; if it is not, it will simply return an empty list.\n",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "The staking address of the token contract for which to return the NFT instances."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested instances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmNftList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/evm_tokens/{address}/nfts/{id}": {
      "get": {
        "summary": "Returns the non-fungible token (NFT) instance of an EVM (ERC-721, ...) token.\n",
        "parameters": [
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "The staking address of the token contract of the NFT instance."
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/TextBigInt"
                }
              ]
            },
            "description": "The ID of the NFT instance."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested instances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmNft"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/accounts/{address}": {
      "get": {
        "summary": "Returns a runtime account.",
        "parameters": [
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "description": "The staking address of the account to return."
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a runtime layer account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/accounts/{address}/nfts": {
      "get": {
        "summary": "Returns the list of non-fungible token (NFT) instances owned by an account.\n",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          },
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "The staking address of the owner of the NFT instances."
          },
          {
            "in": "query",
            "name": "token_address",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/EthOrOasisAddress"
                }
              ]
            },
            "examples": {
              "eth": {
                "$ref": "#/components/examples/EthAddress"
              },
              "oasis": {
                "$ref": "#/components/examples/StakingAddress"
              }
            },
            "description": "Only return NFT instances from the token contract at the given staking address."
          }
        ],
        "responses": {
          "200": {
            "description": "The requested instances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvmNftList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{runtime}/status": {
      "get": {
        "summary": "Returns the runtime status.",
        "parameters": [
          {
            "in": "path",
            "name": "runtime",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Runtime"
                }
              ]
            },
            "description": "The runtime which to query.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing latest runtime status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{layer}/stats/tx_volume": {
      "get": {
        "summary": "Returns a timeline of the transaction volume at the chosen granularity,\nfor either consensus or one of the paratimes.\n",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "window_size_seconds",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "default": 86400
            },
            "description": "The size of windows into which the statistic is grouped, in seconds.\nThe backend supports a limited number of window sizes: 300 (5 minutes) and\n86400 (1 day). Requests with other values may be rejected.\n"
          },
          {
            "in": "query",
            "name": "window_step_seconds",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "default": 86400
            },
            "description": "The size of the step between returned statistic windows, in seconds.\nThe backend supports a limited number of step sizes: 300 (5 minutes) and\n86400 (1 day). Requests with other values may be rejected.\n"
          },
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Layer"
                }
              ]
            },
            "description": "The layer for which to return the transaction volume timeline.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of TPS values for each interval.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxVolumeList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    },
    "/{layer}/stats/active_accounts": {
      "get": {
        "summary": "Returns a (sliding) timeline of the recorded daily unique active accounts for\neither consensus or one of the paratimes.\n",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 100,
              "minimum": 1,
              "maximum": 1000
            },
            "description": "The maximum numbers of items to return.\n"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "format": "uint64",
              "default": 0
            },
            "description": "The number of items to skip before starting to collect the result set.\n"
          },
          {
            "in": "query",
            "name": "window_step_seconds",
            "schema": {
              "type": "integer",
              "format": "uint32",
              "default": 86400
            },
            "description": "The size of the step between returned statistic windows, in seconds.\nThe backend supports a limited number of step sizes: 300 (5 minutes) and\n86400 (1 day). Requests with other values may be rejected.\n"
          },
          {
            "in": "path",
            "name": "layer",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Layer"
                }
              ]
            },
            "description": "The layer for which to return the active accounts timeline.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON object containing a list of unique active accounts values for each interval.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveAccountsList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/HumanReadableError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/HumanReadableError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Layer": {
        "type": "string",
        "enum": ["emerald", "sapphire", "pontusxtest", "pontusxdev", "cipher", "consensus"]
      },
      "Runtime": {
        "type": "string",
        "enum": ["emerald", "sapphire", "pontusxtest", "pontusxdev", "cipher"]
      },
      "StakingAddress": {
        "type": "string",
        "pattern": "^oasis1[a-z0-9]{40}$",
        "example": "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p",
        "x-go-type": "staking.Address",
        "x-go-type-import": {
          "name": "staking",
          "path": "github.com/oasisprotocol/nexus/coreapi/v22.2.11/staking/api"
        },
        "description": "An Oasis-style (bech32) address."
      },
      "TextBigInt": {
        "type": "string",
        "pattern": "^-?[0-9]+$",
        "format": "bigint",
        "example": "1234567890123456789012",
        "x-go-type": "common.BigInt",
        "x-go-type-import": {
          "name": "common",
          "path": "github.com/oasisprotocol/nexus/common"
        }
      },
      "Address": {
        "type": "string",
        "pattern": "^oasis1[a-z0-9]{40}$",
        "example": "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p",
        "description": "An Oasis-style (bech32) address."
      },
      "EthOrOasisAddress": {
        "type": "string",
        "pattern": "^oasis1[a-z0-9]{40}$|^(0x)?[0-9a-fA-F]{40}$"
      },
      "Ed25519PubKey": {
        "type": "string",
        "format": "byte",
        "example": "lbxs4hlud9XNloIOdhJPaCahd7HtiY8QATCgGnFfCM0=",
        "x-go-type": "signature.PublicKey",
        "x-go-type-import": {
          "name": "signature",
          "path": "github.com/oasisprotocol/oasis-core/go/common/crypto/signature"
        },
        "description": "A base64-encoded ed25519 public key."
      },
      "CallFormat": {
        "type": "string",
        "example": "encrypted/x25519-deoxysii",
        "x-go-type": "common.CallFormat",
        "x-go-type-import": {
          "name": "common",
          "path": "github.com/oasisprotocol/nexus/common"
        }
      },
      "List": {
        "type": "object",
        "required": ["total_count", "is_total_count_clipped"],
        "properties": {
          "total_count": {
            "type": "integer",
            "format": "uint64",
            "description": "The total number of records that match the query, i.e. the number of records\nthe query would return with limit=infinity.\n",
            "example": 412
          },
          "is_total_count_clipped": {
            "type": "boolean",
            "description": "Whether total_count is clipped for performance reasons.",
            "example": true
          }
        }
      },
      "Status": {
        "type": "object",
        "required": ["latest_block", "latest_node_block", "latest_block_time", "latest_update_age_ms"],
        "properties": {
          "latest_block": {
            "type": "integer",
            "format": "int64",
            "description": "The height of the most recent indexed block. Compare with latest_node_block to measure\nhow far behind Nexus is from the chain.\n",
            "example": 8048956
          },
          "latest_node_block": {
            "type": "integer",
            "format": "int64",
            "description": "The height of the most recently produced block on-chain as seen by Nexus.",
            "example": 8049555
          },
          "latest_block_time": {
            "type": "string",
            "format": "date-time",
            "description": "The RFC 3339 formatted consensus time of when the most recently indexed block was produced.",
            "example": "2019-04-01T00:00:00Z"
          },
          "latest_update_age_ms": {
            "type": "integer",
            "format": "int64",
            "description": "The number of milliseconds since Nexus processed the latest block.",
            "example": 352
          }
        }
      },
      "BlockList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/List"
          },
          {
            "type": "object",
            "required": ["blocks"],
            "properties": {
              "blocks": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Block"
                    }
                  ]
                }
              }
            }
          }
        ],
        "description": "A list of consensus blocks.\n"
      },
      "Block": {
        "type": "object",
        "required": ["height", "hash", "timestamp", "num_transactions", "gas_limit", "epoch", "state_root"],
        "properties": {
          "height": {
            "type": "integer",
            "format": "int64",
            "description": "The block height.",
            "example": 8048956
          },
          "hash": {
            "type": "string",
            "description": "The block header hash.",
            "example": "0a29ac21fa69bb9e43e5cb25d10826ff3946f1ce977e82f99a2614206a50765c"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The second-granular consensus time.",
            "example": "2022-03-01T00:00:00Z"
          },
          "num_transactions": {
            "type": "integer",
            "format": "int32",
            "description": "Number of transactions in the block.",
            "example": 17
          },
          "gas_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextBigInt"
              }
            ],
            "description": "The gas limit for the block. A gas limit 0 means that the max block gas was unlimited.\nBlocks from Cobalt, Damask, and early Eden had no gas limit as their sizes were only\nrestricted by byte size until an upgrade during Eden introduced a gas limit.\n"
          },
          "size_limit": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextBigInt"
              }
            ],
            "description": "The size limit for the block in bytes.\n"
          },
          "epoch": {
            "type": "integer",
            "format": "int64",
            "description": "The epoch number of the epoch in which the block was produced.",
            "example": 13402
          },
          "state_root": {
            "type": "string",
            "description": "The Merkle root of the state tree after applying the block.",
            "example": "8e39bf193f8a954ab8f8d7cb6388c591fd0785ea060bbd8e3752e266b54499d3"
          }
        },
        "description": "A consensus block.\n"
      },
      "Delegation": {
        "type": "object",
        "required": ["amount", "shares", "validator", "delegator"],
        "properties": {
          "amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextBigInt"
              }
            ],
            "description": "The amount of tokens delegated in base units."
          },
          "shares": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextBigInt"
              }
            ],
            "description": "The shares of tokens delegated."
          },
          "validator": {
            "type": "string",
            "description": "The delegatee (validator) address.",
            "example": "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p"
          },
          "delegator": {
            "type": "string",
            "description": "The delegator address.",
            "example": "oasis1qprtzrg97jk0wxnqkhxwyzy5qys47r7alvfl3fcg"
          }
        },
        "description": "A delegation.\n"
      },
      "DelegationList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/List"
          },
          {
            "type": "object",
            "required": ["delegations"],
            "properties": {
              "delegations": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Delegation"
                    }
                  ]
                }
              }
            },
            "description": "A list of delegations.\n"
          }
        ]
      },
      "DebondingDelegation": {
        "type": "object",
        "required": ["amount", "shares", "validator", "delegator", "debond_end"],
        "properties": {
          "amount": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextBigInt"
              }
            ],
            "description": "The amount of tokens delegated in base units."
          },
          "shares": {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextBigInt"
              }
            ],
            "description": "The shares of tokens delegated."
          },
          "validator": {
            "type": "string",
            "description": "The delegatee (validator) address.",
            "example": "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p"
          },
          "delegator": {
            "type": "string",
            "description": "The delegator address.",
            "example": "oasis1qprtzrg97jk0wxnqkhxwyzy5qys47r7alvfl3fcg"
          },
          "debond_end": {
            "type": "integer",
            "format": "int64",
            "description": "The epoch at which the debonding ends."
          }
        },
        "description": "A debonding delegation.\n"
      },
      "DebondingDelegationList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/List"
          },
          {
            "type": "object",
            "required": ["debonding_delegations"],
            "properties": {
              "debonding_delegations": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/DebondingDelegation"
                    }
                  ]
                }
              }
            },
            "description": "A list of debonding delegations.\n"
          }
        ]
      },
      "ConsensusTxMethod": {
        "type": "string",
        "enum": [
          "beacon.PVSSCommit",
          "beacon.PVSSReveal",
          "beacon.VRFProve",
          "consensus.Meta",
          "governance.CastVote",
          "governance.SubmitProposal",
          "keymanager.PublishEphemeralSecret",
          "keymanager.PublishMasterSecret",
          "keymanager.UpdatePolicy",
          "registry.DeregisterEntity",
          "registry.ProveFreshness",
          "registry.RegisterEntity",
          "registry.RegisterNode",
          "registry.RegisterRuntime",
          "registry.UnfreezeNode",
          "roothash.Evidence",
          "roothash.ExecutorCommit",
          "roothash.ExecutorProposerTimeout",
          "roothash.SubmitMsg",
          "staking.AddEscrow",
          "staking.Allow",
          "staking.AmendCommissionSchedule",
          "staking.Burn",
          "staking.ReclaimEscrow",
          "staking.Transfer",
          "staking.Withdraw",
          "keymanager/churp.Apply",
          "keymanager/churp.Confirm",
          "keymanager/churp.Create",
          "keymanager/churp.Update",
          "vault.AuthorizeAction",
          "vault.CancelAction",
          "vault.Create"
        ],
        "example": "staking.Transfer"
      },
      "TransactionList": {
        "allOf": [
          {
            "$ref": "#/components/schemas/List"
          },
          {
            "type": "object",
            "required": ["transactions"],
            "properties": {
              "transactions": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Transaction"
                    }
                  ]
                }
              }
            },
            "description": "A list of consensus transactions.\n"
          }
        ]
      },
      "Transaction": {
        "type": "object",
        "required": [
          "block",
          "index",
          "timestamp",
          "hash",
          "sender",
          "nonce",
          "fee",
          "gas_limit",
          "method",
          "body",
          "success"
        ],
        "properties": {
          "block": {
            "type": "integer",
            "format": "int64",
            "description": "The block height at which this transaction was executed.",
            "example": 8048956
          },
          "index": {
            "type": "integer",
            "format": "int32",
            "description": "0-based index of this transaction in its block",
            "example": 17
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The second-granular consensus time of this tx's block, i.e. roughly when the\n[block was proposed](https://github.com/tendermint/tendermint/blob/v0.34.x/spec/core/data_structures.md#header).\n",
            "example": "2022-10-15T00:05:34Z"
          },
          "hash": {
            "type": "string",
            "description": "The cryptographic hash of this transaction's encoding.",
            "example": "0d0531d6b8a468c07440182b1cdda517f5a076d69fb2199126a83082ecfc0f41"
          },
          "sender": {
            "type": "string",
            "description": "The address of who sent this transaction.",
            "example": "oasis1qpg2xuz46g53737343r20yxeddhlvc2ldqsjh70p"
[...]
